
bot.tests/bin
bot.tests/obj
bot/bin
ICM/bin
ICM/obj
Engine.Tests/obj
bot/obj
OCR.tests/bin
OCR.tests/obj
OCR/bin
OCR/obj
Engine/obj
Engine/bin
.vs
bot/images/
bot.tests/images/foldAction.png
ICM/bin/Debug/netstandard2.0/ICM.pdb
*/bin
*/obj
